a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(60, 255, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
.malukice{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgb(112, 179, 112);
    background-color: rgb(225, 247, 214);
}

.marmelada{
    background: radial-gradient(circle, rgba(174,238,178,1) 0%, rgba(141,193,255,1) 100%);
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

table{
  border: 1px solid;  
}

tr:hover {background-color: 
    rgb(3, 98, 100);}

